<%= form_with(model: area, local: true) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation well">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :cost, 'Cost per employee per month' %>
    <%= form.number_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
</div>
<% end %>
