<h1>Areas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee count</th>
      <th>Monthly cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= link_to area.name, area%></td>
        <td><%= area.employees.count %></td>
        <td><%= area.cost * area.employees.count %></td>
        <td><%= link_to 'Edit', edit_area_path(area), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
    <tr class="well">
      <td class="h2">
        <strong>Total:</strong>
      </td>
      <td class="h2"><%= employee_total %></td>
      <td class="h2"><%= cost_total %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path, class: 'btn btn-primary' %>
